body {
    color: steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: lightcoral;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.holder-type {
    color: orange;
    margin-top: 10px;
}

p {
    color: black;
}

li {
    font-family: cursive;
}